<!DOCTYPE html>
<html>
  <head>
    <title>Minha Todo App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-100 text-gray-800 font-sans">
    <div class="container mx-auto px-4 py-6">
      <h1 class="text-3xl font-bold mb-6 text-blue-600">Todo List Manager</h1>

      <% if notice %>
        <div class="mb-4 p-4 bg-green-100 text-green-800 rounded">
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
